[user]
	name = Nicolas Krog
	email = nicolasarogvi@gmail.com
[alias]
    a = add -A
    s = status -s
    cm = commit -m
    cam = commit -am
    co = checkout
    cob = checkout -b
    ca = commit -a
    c = commit
    b = branch
    ba = branch -a
    f = fetch
    pu = push
    fb = !git checkout -b $1 master
    zip = archive --format=zip -9
    diffc = diff --cached
    ai = add --interactive
[core]
	editor = vim
[filter "tabspace"]
	clean = expand --tabs=4 --initial
[push]
	default = simple
